python-dotenv==1.0.1
bs4==0.0.2 # Beautiful Soap (fourth major release of Beautiful Soap library), a popular package for web scraping
langchain==0.3.13
langchain_community==0.3.13
langchain_openai==0.2.14
chromadb==0.5.23
numpy==1.26.4
youtube-transcript-api==0.6.3
pytube==15.0.0
langchain-huggingface==0.1.2